@model IEnumerable<ErdemEmlak.Models.ilan>


<!-- Page Content -->
<div class="container mt-5">

    <div class="row">

        <div class="col-lg-3">
            @using (Html.BeginForm("ilanArama", "Home", FormMethod.Post))
            {
                <div class="input-group mb-3">
                    <input type="text" name="deger" class="form-control" placeholder="İlan Ara" aria-describedby="button-addon2" required>
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-outline-dark" id="button-addon2" value="Ara">
                    </div>
                </div>
            }

            <h1 class="my-4">Shop Name</h1>
            <div class="list-group">

                <a href="#" class="list-group-item">Category 1</a>

            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <h2 class="my-4"></h2>
            <h5><b>Aranan Değer : </b>@ViewBag.deger</h5>
            <p>@ViewBag.kayityok</p>
            <h2 class="my-4"></h2><br />
            <div class="row">

                @foreach (var ilan in Model)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">@ilan.baslik</a>
                                </h4>
                                <h5>₺@ilan.fiyat</h5>
                                <p class="card-text">@ilan.aciklama</p>
                            </div>
                            <div class="card-footer">
                                @Html.ActionLink("Ayrıntılar", "ilanDetay", new { id = ilan.ilanId }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }



            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
