@model ErdemEmlak.ViewModel.Sehirler
@{
    ViewBag.Title = "SehirDuzenle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>SehirDuzenle</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("SehirDuzenle", "Admin", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.sehirId)
            @Html.LabelFor(m => m.sehirAdi)
            @Html.TextBoxFor(m => m.sehirAdi, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.sehirAdi, null, new { @class = "text-danger" })
            <br />
            <input type="submit" value="Kaydet" class="btn btn-success" />
        }
        <br />
        @if (ViewBag.sonuc != null)
        {
            <div class="alert alert-success">@ViewBag.sonuc</div>
        }
        @if (ViewBag.hata != null)
        {
            <div class="alert alert-danger">@ViewBag.hata</div>
        }
    </div>
</div>
